:root {
  /* fonts */
  --heading-ff-ss-1: 'Raleway', sans-serif;
  --heading-ff-ss-2: 'Montserrat', sans-serif;
  --heading-ff-ss-3: 'Quicksand', sans-serif;
  --heading-ff-ss-4: 'Nunito', sans-serif;
  --heading-ff-ss-5: 'Poppins', sans-serif;
  --heading-ff-s-1: 'Lora', serif;
  --heading-ff-s-2: 'Playfair Display', serif;
  --heading-ff-s-3: 'Old Standard TT', serif;

  --main-ff-ss-1: 'Lato', sans-serif;
  --main-ff-ss-2: 'Open Sans', sans-serif;
  --main-ff-ss-3: 'Roboto', sans-serif;


  /* colors */
  --yellow: #FFDB62;
  --yellow-lighter: #FFE691;
  --orange: #FDA354;
  --red: #E85668;
  --pink: #F98F9D;
  --blue: #59A8ED;
  --blue-lighter: #9BD8EB;
  --purple: #C584E8;
  --green: #60D195;
  --green-darker: #56BC86;
  --brown: #937254;
  --brown-darker: #85674C;

  --p-gray: #7E949B;
  --p-green: #93D179;
  --p-blue: #5C70DA;
  --p-red: #F08367;
  --p-blue-lighter: #A5E6E4;
  --p-gray-lighter: #D2D2D2;
  --p-beige: #EECA9E;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;


  /* sizes */
  --space: 1rem;


  /* font-weights */
  --light: 300;
  --regular: 400;
  --bold: 700;
  --black: 900;


  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;


  /* box-shadows */
  --smooth-light-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
  --smooth-lighter-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.15);
  --smooth-dark-shadow: 0 1.5rem 2rem rgba(0,0,0,0.3), 0 0 2rem rgba(0,0,0,0.1);
  --smooth-big-dark-shadow: 0 4px 100px var(--almost-white), 0 4px 100px rgba(0,0,0,0.5);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  width: 100vw;
  background: var(--almost-white);

  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
}

header {
  width: 100%;
  height: auto;

  padding: calc(var(--space)*4)
           calc(var(--space)*2)
           calc(var(--space)*2)
           calc(var(--space)*4);
  background: transparent;
  /* border-bottom: calc(var(--space)*0.2) solid var(--gray-lighter); */

  position: absolute;
}

header a {
  font-family: var(--heading-ff-ss-5);
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;

  color: var(--almost-black);

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  letter-spacing: calc(var(--space)*0.15);
}

button {
  width: auto;
  height: auto;

  /* margin-top: calc(var(--space)*10); */
  padding: calc(var(--space)*0.5) var(--space);

  background: transparent;
  border: none;
  border-radius: calc(var(--space)*0.3);

  font-family: var(--main-ff-ss-3);
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;

  color: var(--almost-black);

  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

form label,
form input {
  margin: 0
          calc(var(--space)*1.25)
          0
          0;
  font-family: var(--main-ff-ss-1);
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;

  color: var(--almost-black);

  text-align: center;
  text-decoration: none;
}

h1 {
  padding-bottom: calc(var(--space)*2);

  font-family: var(--heading-ff-ss-5);
  font-weight: bold;
  font-style: normal;
  font-size: 2rem;

  color: var(--almost-black);

  text-align: center;
  text-decoration: none;
  text-transform: none;

  letter-spacing: calc(var(--space)*0.15);
}

h1::first-letter {
  text-transform: uppercase;
}

p {
  font-family: var(--main-ff-ss-3);
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;

  color: var(--almost-black);

  text-align: center;
  text-decoration: none;
}

ol li {
  font-family: var(--main-ff-ss-3);
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;

  color: var(--almost-black);

  text-align: left;
  text-decoration: none;
}

table {
  width: 50vw;
  height: auto;

  padding: calc(var(--space)*0.5)
           calc(var(--space)*0.5)
           calc(var(--space)*0)
           calc(var(--space)*0.5);

  /* border: 1px solid red; */

  font-family: var(--main-ff-ss-3);
  font-weight: normal;
  font-style: normal;

  color: var(--almost-black);

  text-align: left;
  text-decoration: none;
}

table thead th {
  padding: calc(var(--space)*0.25)
           calc(var(--space)*0.5);

  border-bottom: 1px solid var(--almost-black);

  font-family: inherit;
  font-size: 2rem;

  color: var(--almost-white);

  letter-spacing: calc(var(--space)*0.15);
}

table thead th::first-letter {
  text-transform: uppercase;
}

table tbody tr td {
  padding: calc(var(--space)*0.25)
           calc(var(--space)*0.5);

  /* border-bottom: 1px solid var(--almost-black); */

  font-family: inherit;
  font-size: 2rem;
}

.margin-top {
  margin-top: calc(var(--space)*2);
}

.space-top {
  padding-top: calc(var(--space)*2);
}

.sidebar {
  width: 20vw;
  height: 100vh;

  padding: calc(var(--space)*9)
           calc(var(--space)*2)
           calc(var(--space)*2)
           calc(var(--space)*2);

  background: transparent;
  /* border-right: 1px solid var(--gray-lighter); */
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li {
  width: 100%;
  height: auto;

  padding: calc(var(--space)*2);
  /* border: 1px solid red; */

  transition: var(--smooth);
}

.sidebar ul li::first-letter {
  text-transform: uppercase;
}

.sidebar ul li a {
  font-family: var(--main-ff-ss-3);
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;

  color: var(--almost-black);

  text-align: center;
  text-decoration: none;

  transition: var(--smooth);
}

.sidebar ul li a:hover {
  color: blue;
}

.table-action-link {
  padding: calc(var(--space)*0.5) var(--space);

  background: var(--yellow);
  border-radius: calc(var(--space)*0.3);
}

.last-link {
  font-size: 0.5rem;

  color: red;
}

.btnReset {
  margin-top: calc(var(--space)*10);

  background: var(--red);

  font-family: var(--main-ff-ss-3);
  font-weight: normal;
  font-style: normal;
  font-size: 1rem;

  color: var(--almost-white);

  text-align: center;
  text-decoration: none;

  transition: var(--smooth);

  position: absolute;
}

.btnForm {
  padding: calc(var(--space)*0.5) var(--space);

  background: var(--blue);

  color: var(--almost-white);
}

.btnReset::first-letter,
.btnForm::first-letter {
  text-transform: uppercase;
}

.content {
  width: 80vw;
  height: 100vh;

  padding: calc(var(--space)*11)
           calc(var(--space)*2)
           calc(var(--space)*2)
           calc(var(--space)*2);

  background: transparent;
  /* border: 1px solid red; */

  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: flex-start;
  justify-content: flex-start;
}

.hide {
  display: none;
}

.gray-back {
  background: var(--gray);
}

.gray-darker-back {
  background: var(--gray-darker);

  color: var(--almost-white);
}

.pink-back {
  background: pink;
}

.yellow-back {
  background: yellow;
}

.border-top-bottom {
  border-top: 1px solid var(--almost-black);
  border-bottom: 1px solid var(--almost-black);
}

.bold-border-bottom {
  border-bottom: 5px solid var(--almost-black);
}
